/* global.css */

/* Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS variables and styles */
:root {
  --color-bg-secondary: #f9f9f9; /* Light mode background */
  --color-text: #333333; /* Text color */
  --family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-secondary: #121212; /* Dark mode background */
    --color-text: #ededed; /* Light text for dark background */
  }
}

/* Apply smooth transitions globally */
* {
  transition: all 0.3s ease;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg-secondary);
  font-family: var(--family);

  /* Smooth scrolling and text optimizations */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; /* Prevent font size changes on zoom */
  overflow-y: auto; /* Ensure vertical scroll */
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: 100%;
  width: 100%;

  /* Ensure proper width on small devices */
  @media (min-width: 460px) {
    max-width: 390px;
    margin: 0 auto;
  }
}

.app {
  color: var(--color-text);
  position: relative;
  user-select: none;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* Add animation transitions for default routes */
.default-segue-enter-active {
  transition: opacity 500ms ease;
  will-change: opacity;
}

.default-segue-enter-from,
.default-segue-leave-to {
  opacity: 0;
}

.default-segue-leave-active {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

body {
  @apply bg-black
}
